.tools-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 400px;
    margin-left: 40px;
    border-radius: 7px;
    padding:7px 20px;
    background-color: rgb(247, 240, 240);
}
.tools-bar ul li{
   cursor: pointer;
}
img{
    height: 20px;
}
select{
    font-size: 15px;
    height: 23px;
}
#editorSpace{
    font-size: 15px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    min-height: 300px;
    outline: none;
    background-color: rgb(247, 240, 240);
    margin-left: 40px;
    margin-right: 40px;
}